@font-face {
    font-family: 'Technopollas';
    font-style: normal;
    font-weight: 400;
    src: local('Technopollas'), url('https://fonts.cdnfonts.com/s/72836/Technopollas.woff') format('woff');
}


