# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments

.venv/
env/
ENV/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# PyInstaller
*.spec

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db
desktop.ini

# Tools and editors
.idea/
.vscode/
cmder/

# Output directories
Output/
te/
