[tool.poetry]
name = "agentic_security"
version = "0.1.1"
description = "Agentic LLM vulnerability scanner"
authors = ["Alexander Miasoiedov <msoedov@gmail.com>"]
maintainers = ["Alexander Miasoiedov <msoedov@gmail.com>"]
repository = "https://github.com/msoedov/agentic_security"
license = "MIT"
readme = "Readme.md"
keywords = [
    "LLM vulnerability scanner",
    "llm security",
    "llm adversarial attacks",
    "prompt injection",
    "prompt leakage",
    "prompt injection attacks",
    "prompt leakage prevention",
    "llm vulnerabilities",
    "owasp-llm-top-10",
]
packages = [{ include = "agentic_security", from = "." }]


[tool.poetry.scripts]
agentic_security = "agentic_security.__main__:entrypoint"

[tool.poetry.dependencies]
python = "^3.9"
fastapi = ">=0.109.1,<0.111.0"
uvicorn = ">=0.23.2,<0.30.0"
fire = "^0.5.0"
loguru = "^0.7.2"
httpx = ">=0.25.1,<0.28.0"
cache-to-disk = "^2.0.0"
pandas = ">=1.4,<3.0"
datasets = "^1.14.0"

[tool.poetry.group.dev.dependencies]
black = ">=23.10.1,<25.0.0"
mypy = "^1.6.1"
httpx = ">=0.25.1,<0.28.0"
pytest = ">=7.4.3,<9.0.0"
pre-commit = "^3.5.0"
inline-snapshot = "^0.8.0"
langchain-groq = "^0.1.3"

[tool.ruff]
line-length = 120

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
